// Variaveis de Cor seguindo de acordo com tokens ciao no Figma

$color-core-foreground: #0a0a0a;
$color-neutral-surface: #ffffff;
$color-neutral-content-onSource: #0a0a0a;
$color-neutral-content: #a4a4a4;
$color-core-content: #fafafa;
$color-core-content-low: #a4a4a4;
$color-neutral-content-higher: #f2f2f2;
$color-neutral-border-high: #5d5d5d;
$color-core-border: #3d3d3d;
$color-core-background: #1f1f1f;
$color-neutral-content-high: #cacaca;
