@import '../../../../assets/styles/main.scss';

.message-container {
  text-align: center;
  margin: 30% 0;
  h2 {
    @include typography(24px,$color-core-content, 700);
    @include typography-spacing(24px,-0.02em);
  }
  p {
    @include typography(18px,$color-core-content-low, 400);
    line-height: 27px;
    text-align: center;
  }
  button {
    @include border-radius(4px);
    background-color: $color-neutral-surface;
    color: color-neutral-content-onSource;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    &:hover {
      background-color: $color-neutral-content-higher;
    }
  }
}
