<app-header></app-header>
<main class="main-content">
  <section class="header">
    <div class="header__title">
        <img
            src="/assets/images/title-home.svg"
            width="110"
            height="48"
            alt="Título da Página"
        />
    </div>
    <mat-form-field appearance="fill" class="header__search custom-search">
        <mat-label>Buscar</mat-label>
        <input matInput placeholder="Buscar..." class="custom-input">
    </mat-form-field>
</section>
</main>
