

<div *ngIf="filteredCharacters.length > 0; else noResults">

  @if(isSKeleton) {
    <div
    class="card-grid">
      <app-skeleton-card *ngFor="let skeleton of [].constructor(9)"></app-skeleton-card> <!-- Exibe 5 skeletons -->
    </div>
  } @else {
  <div
    class="card-grid"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollUpDistance]="1.5"
    [infiniteScrollThrottle]="150"
    (scrolled)="onScrollDown()"
  >
      @for (character of filteredCharacters; track trackById) {
    <div class="card" [@fadeInOut]>
      <img [src]="character.image" alt="{{ character.name }}" />
      <div class="card-info">
        <h3>{{ character.name }}</h3>
        <p>{{ character.species }}</p>
      </div>
      <div class="card-favorite">
        <mat-icon
          (click)="toggleFavorite(character)"
          [class.favorite]="favoriteService.isFavorite(character)"
        >
          {{
            favoriteService.isFavorite(character)
              ? "favorite"
              : "favorite_border"
          }}
        </mat-icon>
      </div>
    </div>
    }
  </div>
  }

  @if(isLoading){
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
  }
</div>

<ng-template #noResults>
  <ng-container *ngIf="!isFavorite; else noFavorites">
    <app-message
      title="Nada foi encontrado"
      description="Tente realizar uma nova busca."
    >
    </app-message>
  </ng-container>
</ng-template>

<ng-template #noFavorites>
  <app-message
    title="Parece que você ainda não tem favoritos"
    description="Volte à página inicial e escolha os melhores para você."
  >
  </app-message>
</ng-template>
