@import "../../../../assets/styles/main.scss";

.card {
  @include border-radius(8px);
  width: 100%;
  max-width: 340px;
  min-width: 222px;
  background: $color-core-foreground;
  color: $color-neutral-surface;
  border: 1px solid $color-core-border;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;

  @media (max-width: 480px) {
    margin: 0 auto;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }

  img {
    width: 100%;
    height: auto;
    background-size: cover;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
  }
  &-info {
    padding: 0 10px;
    h3 {
      @include typography(24px, inherit, 400);
      font-family: $font-secondary;
      list-style: 24px;
      font-style: normal;
    }
    p {
      @include typography(16px, $color-neutral-content, 600);
    }
  }

  &-favorite {
    @include border-radius(0px 0px 0px 40px);
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    cursor: pointer;
    .favorite {
      @include spacing(-10px, 15px);
      @include border-radius(0 10px 0 50px);
      background: $color-neutral-surface;
      color: $color-neutral-content-onSource;
    }
  }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
