
<div class="card-grid">
  @for (character of filteredCharacters; track $index) {
  <div class="card">
    <img [src]="character.image" alt="{{ character.name }}" />
    <div class="card-info">
      <h3>{{ character.name }}</h3>
      <p>{{ character.species }}</p>
    </div>
    <div class="card-favorite">
      <mat-icon
      (click)="toggleFavorite(character)"
      [class.favorite]="favoriteService.isFavorite(character)"
    >
      {{ favoriteService.isFavorite(character) ? 'favorite' : 'favorite_border' }}
    </mat-icon>
    </div>
  </div>
  }
</div>

  <!-- <app-message
  [title]="isFavorite ? 'Nada foi encontrado':'Parece que você ainda não tem favoritos'"
  [description]="isFavorite ? 'Tente realizar uma nova busca.': 'Volte à página inicial e escolha os melhores para você.'">
  </app-message> -->

