.card {
  width: 224px;
  background: #0a0a0a;
  color: white;
  border: 1px solid #3d3d3d;
  border-radius: 8px;
  overflow: hidden;
  position: relative;

  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  img {
    width: 224px;
    background-size: cover;
  }
  &-info {
    padding: 0 10px;
    h3 {
      font-family: "Creepster", system-ui;
      font-size: 24px;
      list-style: 24px;
      font-weight: 400;
      font-style: normal;
    }
    p {
      color: #a4a4a4;
      font-size: 16px;
      font-weight: 400;
    }
  }

  &-favorite {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 0px 0px 0px 40px;
    padding: 10px;
    cursor: pointer;
  }
}


.loading-spinner {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
